body {
  background-color: #dff0f3;
}

.container {
}

.title {
  width: 400px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

h2 {
  font-size: 2.5em;
  color: #1d2b73;
  text-align: center;
  letter-spacing: 0.1em;
}

.underline {
}

.review {
  width: 600px;
  margin: auto;
  background-color: white;
}

.img-container {
  padding-top: 20px;
  text-align: center;
}

.img-container img {
  margin-top: 20px;
  border-radius: 200px;
  box-shadow: 8px -14px 0px 0 #03a9f4b3;
}

h4 {
  font-size: 1.5em;
  color: #1d2b73;
  text-align: center;
  letter-spacing: 0.4em;
}

p#color {
  text-align: center;
  color: #03a9f4b3;
}

p#info {
  text-align: center;
  color: #1d2b73;
}

button {
  text-align: center;
}
